* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */

/* .debug header {
    height: 100px;
    width: 100%;
    background-color: rgb(133, 53, 199);
    position: fixed ;
    left: 0;
    top: 0;

}

.debug header nav .navsin {
    height: 100px;
    background-color: chartreuse;
    width: 30%;

}

.debug header nav .navdes {
    height: 100px;
    background-color: crimson;
    width: 30%;

}

.menu {
    position: relative;
}

.navsin {
    position: absolute;
    left: 0;
    top: 0;
}

.navdes {
    position: absolute;
    right: 0;
    top: 0;

} */


 

/* common */
body {
    font-family: Arial, Helvetica, sans-serif;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;

}

.float-left{
    float: left;
}

.float-right {
    float: right;
}

li {
    list-style: none;
}

.buttonblu {
    color: white;
    background-color: #0061ff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    
}

.buttonblu:hover {
    filter: brightness(130%);
}


/* header */
header {
    height: 80px;
    width: 100%;
    position: fixed ;
    left: 0;
    top: 0;
    border-top: 1px solid #d0d0d3;
    border-bottom: 1px solid #d0d0d3;
    background-color: white;
    z-index: 9999;

}

header a {
    text-decoration: none;
    color: black;
}

.menu {
    position: relative;
    height: 80px;
    width: 100%;
    line-height: 78px;
    
    
}

.navsin {
    position: absolute;
    left: 0;
    top: 0;
    
    
}

.navdes {
    position: absolute;
    right: 0;
    top: 0;
    
    

}

#imglogo {
    
    height: 25px;
    vertical-align: sub;

}

.navsin ul li {
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;
}

.navdes ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
}

.navdes ul li:last-child a {
    padding: 8px 20px;
}

.navdes ul li:last-child:hover {
    border-bottom: none;
}

.navsin ul li:first-child:hover {
    border-bottom: none;
}

.menu li:hover {
    border-bottom: 2px solid black;
}

/* Bonus */

.bonus {
    position: absolute;
    width: 235px;
    right: 335px;
    top: 78px;
    display: none;
    background-color: white;
    line-height: 40px;
    padding: 10px 0;
    border: 1px solid #d8d8db;
}


.navdes ul li:hover ul{
    display: block;
}

.bonus li {
    display: block;
    width: 100%;
}

.bonus a {
    font-size: 15px;
    padding-left: 25px;

}

.bonus li:hover {
    background-color: #ebebeb;
    border: none;

}

/* jumbotron */

.jumbotron {
    margin-top: 80px;
    background-color: #b4d0e7;
    
    
}

.jumbobox {
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: -80px;
   
}


.scrittejumbo * {
    display: block;
}    

.scrittejumbo {
    width: 30%;
    margin-top: 40px;
}



.jumbotron h1 {
    font-size: 80px;
    
}

.jumbotron p {
    font-size: 20px;
    line-height: 30px;
    
}

.jumbotron a {
    width: 61%;
    margin-top: 30px;
    padding: 10px;
}

.jumbotron span {
    margin-top: 10px;
    font-style: italic;
}

.jumbotron i {
    color: black;
    font-size: 50px;
}

.boximgjumbo {
    width: 65%;
    margin-top: 50px;
}

.jumbotron img {
    
    width: 100%;
}

/* main */

/* sezione costi */
.margincent {
    padding-left: 20px;
}

.margincent i {
    margin-left: -19px;
}

/* pate sup costi */
.costibox {
    width: 60%;
    margin: 0 auto;
    margin-top: 200px;
}

.costibox h2 {
    font-size: 50px;
}

.selezfattura {
    margin-top: 80px;
}

.selezfattura span {
    display: inline-block;
    font-size: 20px;
}

#mensile::before {
    content:"";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 5px solid #0061ff ;
    
}

#annuale::before {
    content:"";
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #b8b8b8 ;
    margin-left: 20px;
}


/* parte centrale costi */
.costilat {
    width: calc(100% / 3 - 40px);
    
    margin-top: 50px;
    
   
}

.costimid {
    width: calc(100% / 3 - 40px);
    
    margin: 0 60px;
    margin-top: 50px;
}



.costicoltop span {
    display: block;
}

.intcolonna {
    border: 1px solid #b8b8b8 ;
    padding: 10px 30px;
    text-align: center;
    border-bottom: none;
}

.corpocol {
    border: 1px solid #b8b8b8 ;
    padding: 30px;
    height: 970px;
}

/* Parte superiore colonna */
.corpocoltop {
    height: 140px;
    margin-bottom: 30px ;
    line-height: 40px;
}

.corpocoltop h3:first-child {
    font-size: 35px;
    
}

/* parte mid colonna */

.corpocolmid {
    line-height: 21px;
}

.corpocolmid li {
    padding-bottom: 20px;
    
}

.corpocolmid span {
    display: inline-block;
}

/* parte bot colonna */
.prova30gg {
    display: block;
    margin: 30px 0px;
    padding: 15px;
}

.lineetta {
    margin-top: 30px;
    margin-right: 200px;
    margin-bottom: 30px;
    color: #b8b8b8;
}

.azzurro {
    color: #0061ff;
}

.corpocolbot h5 {
    font-size: 20px;
}

.corpocolbot i {
    color: blue;
}

.corpocolbot li {
    padding-top: 20px;
}

/* Parte inferiore costi */
.costidown {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    

}

.costicorpobot{
    border: 1px solid #b8b8b8 
}



.corpobotsin {
    width: 68%;
    padding: 30px;
}

.corpobotsin h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.corpobotsin h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.corpobotsin p {
    font-size: 15px;
    
}

.corpobotdes {
    width: 30%;
    padding: 30px;
    padding-top: 50px;
}

.corpobotdes a {
    padding: 20px;

}

/* sezione partner */

.boxpartner {
    width: 60%;
    margin: 0 auto;
}

.imgpartner {
    width: 48%;
}

.imgpartner img {
    width: 100%;
}

.scrittepartner {
    width: 48%;
    padding: 100px 60px;
}

.scrittepartner h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.scrittepartner p {
    font-size: 20px;
    margin-bottom: 30px;
}

.scrittepartner a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid black;
}

/* sezione operazioni */
.operazionibox {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;

}

.operazionibox img {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.operazionilat {
    width: calc(100% / 3 - 40px);
}

.operazionimid {
    width: calc(100% / 3 - 40px);
    margin: 0 60px;
}

.operazionibox h2{
    margin-bottom: 40px;
    font-size: 40px;
}

.operazionitop {
    margin-bottom: 40px;
}

.operazionibox h4 {
    font-size: 25px;
    margin-bottom: 20px;
}
.operazionibox p{
    line-height: 25px;
    font-size: 18px;
}

.operazionibox a {
    color: black;
}

/* sezione associate */

.assinit {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.assinit h2 {
    margin-bottom: 30px;
    font-size: 50px;
}

.assinit a {
    font-size: 20px;
    margin-bottom: 30px;
    color: #0061ff;
}

.assbox {
    width: 100%;
    background-color: #f5f5f5;
}

.quadro {
    width: 16vw;
    height: 16vw;
    display: inline-block;
    
}

.quadro img {
    width: 100%;
    filter: invert(100%);
}

/* parte sin */
#designit {
    background-color:#a2d39b;
    padding: 6vw 3vw;
   
}

#asu {
    background-color: #61082b;
    padding: 6vw 4vw;
}


#uf {
    background-color: #0093ce;
    padding: 7vw 3vw;
}

#topps {
    background-color: #ff1c1c;
    padding: 6vw 3vw;
}
/* parte centrale */
.assmid {
    padding: 90px 50px;
    width: 33vw;
    height: 32vw;
    overflow: auto;
}

.assmid img {
    width: 35%;
}

.assmid hr {
    margin-right: 22vw;
}

.assmid p {
    line-height: 26px;
    margin: 90px 0px;
}

.assmid span {
    font-size: 14px;
}

/* parte des */

#wbr {
    background-color: #d5001f;
    padding: 6vw 3vw;
}

#hearts {
    background-color: #b4d0e7;
    padding: 7vw 3vw;
}

#lonely {
    background-color: #0d2481;
    padding: 6vw 3vw;
}

#channel {
    background-color: #ffd830;
    padding: 6vw 3vw;

}

/* parte sotto */

.iniziaprova {
    background-color: #b4d0e7;
    padding: 110px 350px;
}

#h2prova {
    width: 70%;
}

#aprova {
    padding-top: 20px;
    padding-left: 50px;
}

.iniziaprova h2 {
    color: #61082b;
    font-size: 50px;

}

.iniziaprova a {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
}

.iniziaprova a:hover {
    filter: brightness(90%);
}


/* parte domande frequenti */


.faqbox h3 {
    margin-bottom: 50px;
    font-size: 40px;
}

.faqbox {
    width: 60%;
    margin: 100px auto 0;
}

.faqbox h4 {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
}

.faqrow p {
    display: none;
    line-height: 20px;
    color: #637381;
}

.faqrow a {
    color: #637381;
}

.faqrow {
    padding: 30px 0px;
}

.faqbox img{
    width: 20px;
}

.isotto {
    display: none;
    
}

.faqrow:hover p{
    display: block;

}

.faqrow:hover .isopra{
    display: none;

}

.faqrow:hover .isotto{
    display: block;

}

/* footer */
footer {
    background-color: black;
    height: 600px;
    padding: 150px 0;
    margin-top: 150px;
    
}

footer * {
    color: white;
}

.footerbox {
    width: 60%;
    margin: 0 auto;
    
}

.boxulfoot {
    margin-bottom: 100px;
}

.listafinale {
    width: 20%;
}

.listafinale h4 {
    font-size: 17px;
    margin-bottom: 15px;
}

.listafinale a {
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
}

.listafinale a:hover {
    text-decoration: underline;
}

footer hr {
    margin-right: 950px;
    margin-bottom: 50px;
}

#lenguage {
    color: #666666;
    font-size: 13px;
}

#lenguage i {
    filter: brightness(40%);
    vertical-align: middle;
}
