* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */

/* .debug header {
    height: 100px;
    width: 100%;
    background-color: rgb(133, 53, 199);
    position: fixed ;
    left: 0;
    top: 0;

}

.debug header nav .navsin {
    height: 100px;
    background-color: chartreuse;
    width: 30%;

}

.debug header nav .navdes {
    height: 100px;
    background-color: crimson;
    width: 30%;

}

.menu {
    position: relative;
}

.navsin {
    position: absolute;
    left: 0;
    top: 0;
}

.navdes {
    position: absolute;
    right: 0;
    top: 0;

} */


 

/* common */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;

}

.float-left{
    float: left;
}

.float-right {
    float: right;
}

li {
    list-style: none;
}

.buttonblu {
    color: white;
    background-color: #0061ff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    
}

.buttonblu:hover {
    background-color: #5fc4f9;
}


/* header */
header {
    height: 80px;
    width: 100%;
    position: fixed ;
    left: 0;
    top: 0;
    border-top: 1px solid #d0d0d3;
    border-bottom: 1px solid #d0d0d3;
    background-color: white;
    z-index: 9999;

}

header a {
    text-decoration: none;
    color: black;
}

.menu {
    position: relative;
    height: 80px;
    width: 100%;
    line-height: 78px;
    
    
}

.navsin {
    position: absolute;
    left: 0;
    top: 0;
    
    
}

.navdes {
    position: absolute;
    right: 0;
    top: 0;
    
    

}

#imglogo {
    
    height: 25px;
    vertical-align: sub;

}

.navsin ul li {
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;
}

.navdes ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
}

.navdes ul li:last-child a {
    padding: 8px 20px;
}

.navdes ul li:last-child:hover {
    border-bottom: none;
}

.navsin ul li:first-child:hover {
    border-bottom: none;
}

.menu li:hover {
    border-bottom: 2px solid black;
}




/* jumbotron */

.jumbotron {
    margin-top: 80px;
    background-color: #b4d0e7;
    
    
}

.jumbobox {
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: -80px;
   
}


.scrittejumbo * {
    display: block;
}    

.scrittejumbo {
    width: 30%;
    margin-top: 40px;
}



.jumbotron h1 {
    font-size: 80px;
    
}

.jumbotron p {
    font-size: 20px;
    line-height: 30px;
    
}

.jumbotron a {
    width: 61%;
    margin-top: 30px;
    padding: 10px;
}

.jumbotron span {
    margin-top: 10px;
    font-style: italic;
}

.jumbotron i {
    color: black;
    font-size: 50px;
}

.boximgjumbo {
    width: 65%;
    margin-top: 50px;
}

.jumbotron img {
    
    width: 100%;
}

/* main */

/* sezione costi */

/* pate sup costi */
.costibox {
    width: 60%;
    margin: auto;
    margin-top: 200px;
}

.costibox h2 {
    font-size: 50px;
}

.selezfattura {
    margin-top: 80px;
}

.selezfattura span {
    display: inline-block;
    font-size: 20px;
}

#mensile::before {
    content:"";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 5px solid #0061ff ;
    
}

#annuale::before {
    content:"";
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #b8b8b8 ;
    margin-left: 20px;
}
/* parte centrale costi */
.costilat {
    width: calc(100% / 3 - 40px);
    height: 600px;
    margin-top: 50px;
    
   
}

.costimid {
    width: calc(100% / 3 - 40px);
    height: 600px;
    margin: 0 60px;
    margin-top: 50px;
}


.costidown {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    

}

.costicoltop span {
    display: block;
}

.intcolonna {
    border: 1px solid #b8b8b8 ;
    padding: 10px 30px;
    text-align: center;
    border-bottom: none;
}

.corpocol {
    border: 1px solid #b8b8b8 ;
    padding: 30px;
}

/* Parte superiore colonna */
.corpocoltop {
    height: 140px;
    margin-bottom: 30px ;
    line-height: 40px;
}

.corpocoltop h3:first-child {
    font-size: 35px;
    
}

/* parte mid colonna */

.corpocolmid {
    line-height: 21px;
}

.corpocolmid li {
    padding-bottom: 20px;
    
}

.corpocolmid span {
    display: inline-block;
}

/* parte bot colonna */
.prova30gg {
    display: block;
    margin: 30px 0px;
    padding: 15px;
}

.lineetta {
    margin-top: 30px;
    margin-right: 170px;
    margin-bottom: 30px;
    color: #b8b8b8;
}

.corpocolbot h5 {
    font-size: 20px;
}

.corpocolbot i {
    color: blue;
}

.corpocolbot li {
    padding-top: 20px;
}