* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */

/* .debug header {
    height: 100px;
    width: 100%;
    background-color: rgb(133, 53, 199);
    position: fixed ;
    left: 0;
    top: 0;

}

.debug header nav .navsin {
    height: 100px;
    background-color: chartreuse;
    width: 30%;

}

.debug header nav .navdes {
    height: 100px;
    background-color: crimson;
    width: 30%;

}

.menu {
    position: relative;
}

.navsin {
    position: absolute;
    left: 0;
    top: 0;
}

.navdes {
    position: absolute;
    right: 0;
    top: 0;

} */


 

/* common */
.clearfix::after {
    content: "";
    display: table;
    clear: both;

}

.float-left{
    float: left;
}

.float-right {
    float: right;
}

li {
    list-style: none;
}


/* header */
header {
    height: 100px;
    width: 100%;
    position: fixed ;
    left: 0;
    top: 0;
    border-top: 1px solid #d0d0d3;
    border-bottom: 1px solid #d0d0d3;
    font-family: sans-serif;

}

header a {
    text-decoration: none;
    color: black;
}

.menu {
    position: relative;
    height: 100px;
    width: 100%;
    line-height: 100px;
    
}

.navsin {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    
}

.navdes {
    position: absolute;
    right: 0;
    top: 0;
    
    

}

#imglogo {
    
    height: 25px;
    vertical-align: middle;

}

.navsin ul li {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
}

.navdes ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}

.buttonblu {
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
}


/* jumbotron */




/* main */

